### DisplayOS custom GRUB entries (rendered to /etc/grub.d/40_custom)
### Tokens: {{PRODUCT_NAME}} {{ROOT_UUID}} {{GFXMODE}}

if loadfont /usr/share/grub/unicode.pf2 ; then
  set gfxmode={{GFXMODE}}
  insmod all_video
  insmod gfxterm
  set locale_dir=$prefix/locale
  set lang=en_US
  terminal_output gfxterm
fi

insmod png
if background_image /usr/local/share/displayos/wallpaper.png; then
  set color_normal=light-gray/black
  set color_highlight=light-cyan/black
fi

menuentry "{{PRODUCT_NAME}}" --class debian --class gnu-linux --class gnu --class os {
    insmod gzio
    insmod part_gpt
    insmod ext2
    search --no-floppy --fs-uuid --set=root {{ROOT_UUID}}
    echo 'Loading Linux ...'
    linux   /vmlinuz root=UUID={{ROOT_UUID}} ro quiet
    echo 'Loading initial ramdisk ...'
    initrd  /initrd.img
}

menuentry "{{PRODUCT_NAME}} (recovery mode)" --class debian --class gnu-linux --class gnu --class os {
    insmod gzio
    insmod part_gpt
    insmod ext2
    search --no-floppy --fs-uuid --set=root {{ROOT_UUID}}
    echo 'Loading Linux (single-user) ...'
    linux   /vmlinuz root=UUID={{ROOT_UUID}} ro single
    echo 'Loading initial ramdisk ...'
    initrd  /initrd.img
}

menuentry 'UEFI Firmware Settings' { fwsetup }
